@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --neomorphic: -1px -1px 2px #ffffff, -5px -5px 11.5px #ffffff,
    1px 1px 2px rgba(0, 0, 0, 0.25), 5px 5px 8.5px rgba(0, 0, 0, 0.25);
  --neomorphic-hover: inset -1px -1px 2px #ffffff, inset -4px -4px 10px #ffffff,
    inset 1px 1px 2px rgba(0, 0, 0, 0.25),
    inset 5px 5px 8.5px rgba(0, 0, 0, 0.25);

  --x3-y3-shadow: 3px 3px 5.800000190734863px 0px rgba(0, 0, 0, 0.25);
  --footer: 0px -7px 7.3px rgba(0, 0, 0, 0.15);
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f0f0f3;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #f5845b 0%, #f7c377 100%);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #f5845b 0%, #f7c377 100%);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #f15822 #f0f0f3;
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .perspective-1000 {
    perspective: 1000px;
  }

  .circular-poster {
    transform-style: preserve-3d;
    transition: transform 0.6s ease-out;
  }

  .poster-slant-0 {
    transform: skewY(-8deg) perspective(1000px);
  }

  .poster-slant-1 {
    transform: skewY(-5deg) perspective(1000px);
  }

  .poster-slant-2 {
    transform: skewY(5deg) perspective(1000px);
  }

  .poster-slant-3 {
    transform: skewY(8deg) perspective(1000px);
  }
}

@layer base {
  :root {
    font-family: "Bebas Neue", "Plus Jakarta Sans", sans-serif;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: transparent;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: transparent;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .shadow-inner-complex {
    box-shadow: inset -1px -1px 2px #ffffff, inset -4px -4px 10px #ffffff,
      inset 1px 1px 2px rgba(0, 0, 0, 0.25),
      inset 5px 5px 8.5px rgba(0, 0, 0, 0.25);
  }

  .shadow-outer-neo {
    box-shadow: -1px -1px 2px #ffffff, -5px -5px 11.5px #ffffff,
      1px 1px 2px rgba(0, 0, 0, 0.25), 5px 5px 8.5px rgba(0, 0, 0, 0.25);
  }

  .inner-color-hover {
    box-shadow: inset 1px 1px 2px #00000040, inset -1px -1px 2px #fff,
      inset -5px -5px 11.5px #fff, inset 5px 5px 6.5px #00000040;
  }
  .action-button {
    box-shadow: "1px 1px 2px #00000040,-1px -1px 2px #fff,-5px -5px 11.5px #fff,5px 5px 8.5px #00000040";
  }

  .arrowBtn {
    box-shadow: -0.5px -0.5px 1px #ffffff, -2.5px -2.5px 5.75px #ffffff,
      0.5px 0.5px 1px rgba(0, 0, 0, 0.25),
      2.5px 2.5px 4.25px rgba(0, 0, 0, 0.25);
  }
}
